# My Jupyter Notebook on IBM Watson Studio

**Enrico**  
Student

*Data science interests me because it offers great earning opportunities and allows you to have a job in a short time*

### The box below will do a 1+1 operation and the result will be 2

In [2]:
1+1

2

* one
* two
* three  

| Column 1 | Column 2 | Column 3 |
| --- | --- | --- |
| 1 | 2 |  3 |
| 4 | 5 | 6 |

[Wikipedia's Homepage](https://it.wikipedia.org/wiki/Home_page)